a {
  text-decoration: none;
}

ul {
  list-style: none;
}

// .queen-page{
//   background-image: url(../img/queen.jpg);
//   background-repeat: no-repeat;
//   background-size: cover;
//   z-index: -1;
//   opacity: 0.5;
// }

.menu-full-screen {
  display: none;
}

.btn-menu {
  width: 50px;
  background-color: inherit;
  border: none;
}

.btn-img {
  width: 100%;
}


@media (min-width: $breakPointMenuMobile){
  .menu-full-screen {
    display: inline;
  }
  .btn-menu {
    display: none;
  }
}
