body {
  margin: 0;
  box-sizing: border-box;
}

.no-scroll {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.principal{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  background-color: $color-header-footer;
  color: $color-white;
  height: 8%;
  display: flex;
  align-items: center
}

.footer {
  background-color:$color-header-footer;
  color: $color-white;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;


}
