.principal{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  background-color: $color-header-footer;
  color: $color-white;
}

.no-scroll {
  max-height: 100vh;
}
.footer {
  background-color:$color-header-footer;
  color: $color-white;
  height: 20%;

}
