body {
  margin: 0;
  box-sizing: border-box;
}

.no-scroll {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-principal{
  position: relative;
}
.principal{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("https://static.pexels.com/photos/486178/pexels-photo-486178.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background-color: $color-header-footer;
  color: $color-white;
  height: 8%;
  display: flex;
  align-items: center
}

.footer {
  background-color:$color-header-footer;
  color: $color-white;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
